**/__pycache__
app/build
app/yarn-error.log
server/tmp/*
app/node_modules/*
app/package-lock.json
dump/*
__pycache__/*
server/temp.txt
data/*
.DS_Store
.test.html.swp
server/__pycache__/*
server/*.json
server/*.txt
notebooks/*
